pipeline.json
{
  "name": "Indeed Job Seeking",
  "nodes": [
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "offset": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        640,
        64
      ],
      "id": "fe86c7e6-d9b9-4a40-986b-9ec8c8a84909",
      "name": "Get dataset items",
      "credentials": {
        "apifyApi": {
          "id": "9a3YqGplLRwN3azT",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1184,
        -112
      ],
      "id": "bc3189f7-a353-4231-87b4-e1da319a9d4a",
      "name": "Limit"
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "offset": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        624,
        -256
      ],
      "id": "ccc3bef1-894f-41b4-aa34-59baa48cde07",
      "name": "Get dataset items1",
      "credentials": {
        "apifyApi": {
          "id": "9a3YqGplLRwN3azT",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "hMvNSpz3JnHgl5jkh",
          "mode": "list",
          "cachedResultName": "Indeed Scraper (misceres/indeed-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/hMvNSpz3JnHgl5jkh/input"
        },
        "customBody": "={\n    \"country\": \"US\",\n    \"followApplyRedirects\": false,\n    \"location\": \"San Francisco\",\n    \"maxItemsPerSearch\": 50,\n    \"parseCompanyDetails\": false,\n    \"position\": \"{{ $json.choices[0].message.content.target_position }}\",\n    \"saveOnlyUniqueItems\": true\n} ",
        "timeout": 60,
        "memory": 2048
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        336,
        -256
      ],
      "id": "3e2283ef-7d3d-423b-90c6-58327c6e9d0e",
      "name": "Indeed",
      "credentials": {
        "apifyApi": {
          "id": "9a3YqGplLRwN3azT",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "BHzefUZlZRKWxkTck",
          "mode": "list",
          "cachedResultName": "🔥 LinkedIn Jobs Scraper (bebity/linkedin-jobs-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/BHzefUZlZRKWxkTck/input"
        },
        "customBody": "={\n    \"detailed\": false,\n    \"experience_level\": [\n        \"1\"\n    ],\n    \"job_location\": \"India\",\n    \"job_title\": \"{{ $json.choices[0].message.content.target_position }}\",\n    \"job_type\": [\n        \"F\"\n    ],\n    \"onsite_remote\": [\n        \"2\"\n    ]\n} ",
        "timeout": 60,
        "memory": 2048
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        336,
        64
      ],
      "id": "e89cb1de-a87b-4cec-b144-9d0fe62ddc99",
      "name": "Linkedin",
      "credentials": {
        "apifyApi": {
          "id": "9a3YqGplLRwN3azT",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You're an intelligent bot rating how closely a job listing is to a candidates skill set, on a score of 10. Please add up all the points and create a total out of 10.\na) 4 points for my resume is an amazing fit for the job, 2 point for mostly matching\nb) 3 point if the job is paying over $25/hr, $4,000/month or $50,000/year\nc) 1 point for it being a remote position (should equal true)\ne) 1 point if the company offers benefits (any benefits)\nf) 1 point if it's full time (not contract or part-time)\n\nFor example:\nIf the job fits mostly, and pays over $25/hr, and is remote, but has no benefits and is not full-time, the total points would be: 6\n###\nIf the job fits perfectly, but is under $50,000/year, isn't a remote position, has a few benefits, and isn't full-time, the total points would be: 5",
              "role": "system"
            },
            {
              "content": "=Here's the job listing details:\nSalary: {{ $json.salary }}\nRemote: false\nBenefits: {{ $json.benefits }}\nJob type/term: {{ $json.contractType }} (i.e. part time, full time, contract etc)\n{{ $json.description }}\n\n\n\nHere is the candidates skill set:\n📄 SAMPLE RESUME\n\nAlex Morgan\n📍 Toronto, ON, Canada | 📧 alex.morgan@email.com | 📞 (123) 456-7890 | 🌐 linkedin.com/in/alexmorgan | github.com/alexmseo (optional if portfolio on GitHub)\n\n🎓 Education\nBachelor of Business Administration – Marketing\nUniversity of Toronto, Toronto, ON\nGraduated: April 2025 | GPA: 3.7/4.0\n\nRelevant coursework:\n\nDigital Marketing Strategies\n\nData Analytics in Marketing\n\nConsumer Behaviour\n\nSEO & Content Marketing (elective)\n\n💼 Experience\nSEO Intern\nGrowthRocket Agency, Remote | Jan 2025 – Apr 2025\n\nConducted technical SEO audits for 10+ client websites using tools like Screaming Frog, Ahrefs, and Google Search Console.\n\nImplemented structured data (Schema.org) to improve click-through rates in search results.\n\nOptimized on-page elements such as meta titles, descriptions, H1-H3 tags, internal linking, and image alt text.\n\nCollaborated with the content team to develop keyword-rich blog content and updated outdated pages.\n\nImproved page speed performance using tools like PageSpeed Insights and GTmetrix.\n\nFreelance SEO Consultant\nSelf-Employed | May 2024 – Present\n\nHelped 3 small local businesses optimize their websites for search engines, increasing organic traffic by 30–70% within 3 months.\n\nConducted keyword research and competitive analysis to guide content creation.\n\nSet up Google Analytics 4 and Google Search Console for performance monitoring.\n\n🛠 Skills\nSEO Tools: Google Search Console, GA4, Ahrefs, Screaming Frog, SEMrush, Yoast SEO\nCMS: WordPress, Wix\nTechnical SEO: Site audits, page speed optimization, canonical tags, indexing & crawling\nOn-Page SEO: Meta tags, internal linking, content structure, image optimization\nSoft Skills: Communication, problem-solving, attention to detail, teamwork\n\n📚 Certifications\nGoogle Analytics Certification – Google\n\nSEO Fundamentals – Semrush Academy\n\nTechnical SEO Certification – Moz (or any other you’ve done)"
            },
            {
              "content": "Please return JSON data structured the following way:\n{\n\"score\": 10, //please add up all points out of 10 and add the sum here\n\"reasoning\": \"\" //please calculate how you got to this total\n}",
              "role": "assistant"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "maxTokens": 4000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1424,
        -112
      ],
      "id": "20cd27a2-7445-4c53-aa80-d0a50977b90b",
      "name": "Scorer",
      "credentials": {
        "openAiApi": {
          "id": "LyF3nrUE3lTm4iuN",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "path": "a91ceb5d-9a1c-476a-923e-d1928755511f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1168,
        -80
      ],
      "id": "51c43182-6cec-4f65-8657-88b47aa454c7",
      "name": "Webhook",
      "webhookId": "a91ceb5d-9a1c-476a-923e-d1928755511f"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -608,
        -80
      ],
      "id": "acbc67f2-134c-4bdd-95de-78a322e67d85",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "={{ $json.query.resume_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -928,
        -80
      ],
      "id": "26ef032d-9436-40ab-bbfe-419a3ab29c8a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You're an intelligent bot understanding a person's skills from his resume and linkedin github profiles.If some thing is not available replace it with null value in javascript and you are not allowed to generate any information other than the data provided except target_postion and secondary positions\n\n",
              "role": "system"
            },
            {
              "content": "=This is his linkedin profile {{ $('Webhook').item.json.query.linkedin }} , github profile : {{ $('Webhook').item.json.query.github }} ,\nhis resume {{ $json.text }}"
            },
            {
              "content": "Please return JSON data structured the following way:\n{\n  \"primary_domain\": \"AI/ML\",\n  \"secondary_positions\": \"Data_analyst\", \n  \"target_position\": \"ML Engineer\",\n  \"experience\": \"2 years\",\n  \"skill_set\": [\"Python\", \"R\", \"tensorflow\", \"pytorch\"],\n  \"availability\": \"Available to join immediately\"\n}\n\n",
              "role": "assistant"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "maxTokens": 4000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -240,
        -80
      ],
      "id": "2f28fd34-758e-43f8-95c1-024588a5e552",
      "name": "skillset",
      "credentials": {
        "openAiApi": {
          "id": "LyF3nrUE3lTm4iuN",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        992,
        -112
      ],
      "id": "b46ec2c9-45a9-47a0-8dff-446abd143fb1",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a job customization assistant.",
              "role": "system"
            },
            {
              "content": "=Your task is to customize a provided resume using a provided job description.\n\nHere is the job description:{{ $('Limit').item.json.description }}\n\n\nHere is my resume:\n{{ $('Extract from File').item.json.text }}\n\nRespond with only the resume, nothing else. This resume will be added to a Google doc. So, write it in markdown format that I can easily copy and paste. Your first character should be #."
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "94afa8c8-b171-4332-b822-7a7448b6c209",
      "name": "Rewrite Resume",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        2256,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "LyF3nrUE3lTm4iuN",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You're an intelligent bot perfect at creating cover letters for a job. Please take the candidates resume and create a customized cover letter to the job.",
              "role": "system"
            },
            {
              "content": "=Here's the job listing details:\nTitle: {{ $('skillset').item.json.choices[0].message.content.target_position }}\n\n\nHere is the candidates skill set:{{ $('skillset').item.json.choices[0].message.content.skill_set }}\n\n\neducation : {{ $('skillset').item.json.choices[0].message.content.education.institution }} ,{{ $('skillset').item.json.choices[0].message.content.education.degree }}, "
            },
            {
              "content": "Please return JSON data structured the following way:\n{\n\"cover_letter\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2256,
        -224
      ],
      "id": "7cfb6e18-d9d9-45d2-baeb-f36534e6bc90",
      "name": "Cover Letter",
      "credentials": {
        "openAiApi": {
          "id": "LyF3nrUE3lTm4iuN",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3040,
        -128
      ],
      "id": "767678da-e2b8-4024-8b68-0722806de5f0",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1NS1v2-tfLP1b1Fo5XlisJ3S9LXSDmCNR7ra4wzbKJbA",
          "mode": "list",
          "cachedResultName": "Job Listings Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NS1v2-tfLP1b1Fo5XlisJ3S9LXSDmCNR7ra4wzbKJbA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NS1v2-tfLP1b1Fo5XlisJ3S9LXSDmCNR7ra4wzbKJbA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Limit').item.json.positionName }}",
            "Job Description": "={{ $('Limit').item.json.description }}",
            "Link": "={{ $('Scorer').item.json.choices[0].message.content.score }}",
            "Date": "={{ $('Limit').item.json.postingDateParsed }}",
            "Rating": "={{ $('Scorer').item.json.choices[0].message.content.score }}",
            "Company Name": "={{ $('Limit').item.json.company }}",
            "Cover Letter": "={{ $json.choices[0].message.content.cover_letter }}",
            "Salary": "={{ $('Merge').item.json.salary }}",
            "City": "={{ $('Merge').item.json.searchInput.location }}",
            "Expired": "={{ $('Merge').item.json.isExpired }}",
            "Status": "To-Do"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Description",
              "displayName": "Job Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Description",
              "displayName": "Job Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expired",
              "displayName": "Expired",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3360,
        -112
      ],
      "id": "7cf71210-4861-4202-a54c-00b53cc25559",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zvcxHoBwtjoAQsKO",
          "name": "Google Sheets account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get dataset items1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Scorer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indeed": {
      "main": [
        [
          {
            "node": "Get dataset items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scorer": {
      "main": [
        [
          {
            "node": "Cover Letter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Rewrite Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "skillset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "skillset": {
      "main": [
        [
          {
            "node": "Indeed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite Resume": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Cover Letter": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "bce7fa75-620c-459d-a39d-35a08f4adf8f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a9aff7e5fe8990ea70d1df0448374830a20004f7bd2b490ab56a7c8ca150606"
  },
  "id": "quHqcGuU8NFBakuLGO5Op",
  "tags": [
    {
      "name": "AI Automation",
      "id": "Vr2AH5MGri47FCB6",
      "updatedAt": "2026-02-01T14:27:15.414Z",
      "createdAt": "2026-02-01T14:27:15.414Z"
    }
  ]
}